.span-14
  %h2 Impressum
  :textile
    Jan Krutisch Hard- und Softwareberatung
    Tegelweg 21
    22159 Hamburg
    Telefon: +49 40 6444745
    E-Mail: jan (at) krutisch.de
    Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV: Jan Krutisch (Anschrift wie oben)

    Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
.span-8.last
  %h2 Mitwirkende
  %ul
    %li Jan Krutisch