<div class="span-16">
  <h2>Willkommen bei der virtuellen Deutschen Rails-Usergroup. Das Original seit September 2005 :)</h2>
  <p>
    Die Rails-Usergroup Deutschland wurde von Jan Krutisch und Ramon Wartala 2005 gegründet. Die Mailingliste als Kern der Usergroup hat zur Zeit ca. 300 Mitglieder.
  </p>
  
  <p>Um den Gebrauchswert der Usergroup-Webseite deutlich zu erhöhen, wurde Anfang 2009 mit dem Start einer kleinen, aber feinen Community-Software begonnen. Die Software wird von den Mitgliedern der Usergroup kollektiv auf GitHub.com entwickelt.</p>
</div>
<div class="span-8 last">
  <h2>Links</h2>
  <ul>
    <li>
      <%= link_to "Mailingliste", 'http://mailman.headflash.com/listinfo/rubyonrails-ug' %>
      (<%= link_to "Archiv", 'http://mailman.headflash.com/private/rubyonrails-ug/' %>)
    </li>
    <li><%= link_to "Wiki", "http://planet.rubyonrails-ug.de/" %></li>
    <li><%= link_to "Planet (News-Aggregator)", "" %></li>
  </ul>
</div>
<div class="span-8">
  <h2>Events</h2>
  <ul>
    <li>Hier mal so ein Event stylen</li>
  </ul>
</div>
<div class="span-8">
  <h2>Gruppen</h2>
  <ul>
    <li>Hier mal so eine Gruppe stylen</li>
  </ul>
</div>

<div class="span-8 last">
  <h2>Artikel</h2>
  <ul>
    <li>Hier mal so ein Event stylen</li>
  </ul>
</div>
